body {
    height: 29.6vh;
    margin: 10;
    font-family: Arial, sans-serif;
    background-color:rgb(144, 144, 146);
   
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
  display: flex;
  flex-direction: row;
  width: 50px;
  box-sizing: border-box;
  margin: 171.59px;

}

nav{
    list-style: none;
    text-decoration: none;
    margin: 0px;

}

li {
    display: inline;
}
li a{
    text-decoration: none;
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    margin-right: 10px;
    width: 95px;
}

#school-page h1{
    
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-size: 120px;

}
#txt {
    margin-right: 9.5;
    margin: 500px;
    width: 101.9px;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    align-items: normal;
    justify-content: right;
    display: inline;
}

#txt span{
    padding: 20px;
}

#school-page button{
    border-radius: 22px;
    background: #C271FF;
    position: relative;
    margin: 0 2.8px 168px o;
    color: #fff;
    padding: 13 px 1px 15px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 540px
}

#Title1{
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 300;
    font-size: 32px;
    line-height: 1.333;
    margin: 50px;
    padding: 50px;
}

#Title1{
    color: #fff;
    text-align: center;
    font-weight: lighter;
    margin: 30px;
    overflow-wrap: break-word;
}

#txt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#txt2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#txt2 img{
    border-radius:  50%;
}
#txt2 h3, p{
    color:#fff;
    padding: 10px;
}
Section div img{
    height: 160px;
    width: 160px;
}
section div{
    color:#FFFFFF;
    margin-left: 50px;
}
section div h3{
    margin-top: 30px;
}
.tutorials h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.tutorials2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200;
    margin-top: 30px;
}
.tutorials3{
    width: 335px;
    height: 335px;
}
.image-container {
    position: relative;
    width: 255px;
    height: 154px;
}
.background-image {
    width: 100%;
    height: auto;
    display: block;
}
.overlay-image {
    width: 70px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%)

}
.tutorials3 h3{
    margin-top: 0;
}
.tutorials3 p{
    color: #000000;
}
.tot{
    height: 70px;
}
.tutorials4{
    display: flex;
}
.tutorials4 img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorials h4{
    color: #C271FF;
    margin-left: 20px;
    margin-top: 5px;
}
.icon{
    display: flex;
    justify-content: space-between;
    color:#C271FF;
    width: 110;
    height: 15px;
    margin: 15px;
}