body {
    height: 29.6vh;
    margin: 10;
    font-family: Arial, sans-serif;
    background-color:rgb(144, 144, 146);
   
}
.container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-right: 4.8px;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    color: #FFFFFF;
}

header .logo {
  display: flex;
  flex-direction: row;
  width: 50px;
  box-sizing: border-box;
  margin: 6.5px 0 10.4px 0;
  width: 111.8px;
  height: 12.6px;
}

nav{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    

}

li {
    display: inline;
}
li a{
    text-decoration: none;
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    margin-right: 10px;
    width: 95px;
    overflow-wrap: break-word;
}
#School-Page h1 {
    position: relative;
    margin-right: 4.8px;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 700;
    font-size: 120px;
    color: #FFFFFF;
  }


#txt {
    margin-right: 9.5;
    margin: 500px;
    width: 101.9px;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    align-items: normal;
    justify-content: right;
    display: inline;
    
}

#txt span{
    padding: 20px;
}

#school-page button{
    border-radius: 22px;
    background: #C271FF;
    position: relative;
    margin: 0 2.8px 168px o;
    color: #fff;
    padding: 13 px 1px 15px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 540px
}

#Title{
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 300;
    font-size: 32px;
    line-height: 1.333;
    color: #fff;
}

#Title{
    text-align: center;
    font-weight: lighter;
    margin: 30px;
    position: relative;
    margin-left: 26.2px;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 700;
    font-size: 32px;
    color: #C271FF;
}

.container1 .object {
  background-image: url("C:\Users\840 G4\Desktop\CSS Advanced\Object.png");
  position: absolute;
  left: -221.1px;
  top: -824px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 101px;
  width: 1448.2px;
  height: 1055px;
  box-sizing: border-box;
}

#txt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#txt2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 139px;
    
}
#txt2 img{
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}
#txt2 h3{
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0 13.2px 2px 13.2px;
}
#text p{
    margin: 0 13.3px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}
#quote{
    background-color: #C271FF;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 108px 0 124px 0;
    width: 1440px;
    height: 400px;
    margin: 0 1px 124px 0;
    box-sizing: border-box;

}
#quote img {
    height: 160px;
    width: 160px;
}
#quote div {
    color: #ffffff;
    margin-left: 50px;
} 
#quote div h3{
    margin-top: 30px;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    overflow-wrap: break-word;
}


.tutorials h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.333;
}
.tutorials2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height:200;
    margin-top: 30px;
}
.tutorials3{
    width: 335px;
    height: 335px;
}
.image-container {
    position: relative;
    width: 255px;
    height: 154px;
}
.background-image {
    width: 100%;
    height: auto;
    display: block;
}
.overlay-image {
    position: relative;
    border-radius: 5px 5px 0 0;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70px;
    height: auto;
    box-sizing: border-box;
    
}
.tutorials3 h3{
    margin-top: 0; 
}
.tutorials3 p{
    color: #000000;
}
.tot{
    height: 70px;
}
.tutorials4{
    display: flex;
}
.tutorials4 img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorials4 h4{
    color: #C271FF;
    margin-left: 20px;
    margin-top: 5px;
}
.ico{
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
    color: #C271FF;
    width: 110px;
    height: 15px;
    margin: 15px;
}
.ico p{
    color: #C271FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.membership {
    background-color: #071629;
    width: 100%;
    position: relative;
    height: 500px;
}
.membership h2{
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member {
    display: flex;
    justify-content: space-evenly;
}
.member div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 260px;
    color: #fff;
}
.member div h3 , p {
    padding: 10px;
}
.membership button{
  border: 2px solid #C271FF;
  background: #C271FF;
  border-radius: 50px;
  color: #fff;
  padding: 15px 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 630px;
  margin-top: 80px;
}
.faq h2{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2.2em;
}
.faq{
    height: 500px;
}
.faq2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.faq3{
    width: 40%;
}
.faq3 div h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
footer{
    background: #071629;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 90px 0 40px 0;
    width: 1440px;
    box-sizing: border-box;

}
footer div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

 footer .logo {
    position: relative;
    margin: 5px 0 84.5px 0;
    display: flex;
    width: 36.4px;
    height: 29.5px;
    box-sizing: border-box;

}
.fa-brands { 
    margin-right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.fa-brands {
    margin-bottom: 89px;
    display:flex;
    flex-direction: row;
    width: 130px;
    height: fit-content;
    box-sizing: border-box;
}
footer .smileschool{
    opacity: 0.352;
    margin-top: 105px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Source Sans Pro', 'Roboto Condensed';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    align-items: center;
}